{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    <div class="container text-center w-50">
        <div class="mb-3">
            <h1 class="h1">Цена: {{ price }}</h1>
        </div>

        <a href="/" class="btn btn-link">Назад</a>
    </div>
{% endblock %}